# Copy this file to terraform.tfvars and fill in your real values.
# Do NOT commit terraform.tfvars to version control.

aws_region = "eu-west-2"

aws_account_id = "123456789012"

s3_bucket_name = "sheffield-crime-outcomes-raw-data"

bucket_prefix = "police"

iam_role_name = "sheffield-crime-databricks-s3-role"

databricks_storage_credential_name = "sheffield_crime_raw_sc"

databricks_external_location_name = "sheffield_crime_raw_el"

databricks_principal = "account users"

databricks_uc_master_role_arn = "arn:aws:iam::414351767826:role/unity-catalog-prod-UCMasterRole-XXXXXXXXXXXXX"

bootstrap_external_id = "0000"

# Leave these as-is. The script sets them automatically.
databricks_external_id   = ""
create_external_location = false